
/* developed by KOMETA GQ [kometa.gq] on 18.01.2016 (updated on 19.11.2017) */

@font-face {font-family: 'f'; src: url('f.eot'); src: url('f.eot?#iefix') format('embedded-opentype'), url('f.woff') format('woff'), url('f.ttf') format('truetype'), url('f.svg#f') format('svg');}
@font-face {font-family: 'fh'; src: url('fh.eot'); src: url('fh.eot?#iefix') format('embedded-opentype'), url('fh.woff') format('woff'), url('fh.ttf') format('truetype'), url('fh.svg#fh') format('svg');}
@font-face {font-family: 'fi'; src: url('fi.eot'); src: url('fi.eot?#iefix') format('embedded-opentype'), url('fi.woff') format('woff'), url('fi.ttf') format('truetype'), url('fi.svg#fi') format('svg');}
@font-face {font-family: 'fm'; src: url('fm.eot'); src: url('fm.eot?#iefix') format('embedded-opentype'), url('fm.woff') format('woff'), url('fm.ttf') format('truetype'), url('fm.svg#fm') format('svg');}
html {height: 100%; min-height: 100%; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {height: 100%; min-height: 100%; background: rgb(240,240,240) url(bg1.jpg) fixed; background-size: cover; text-align: center;}
@media (min-width: 641px) {body {background: rgb(240,240,240) url(bg2.jpg) fixed; background-size: cover;}}
@media (min-width: 1281px) {body {background: rgb(240,240,240) url(bg3.jpg) fixed; background-size: cover;}}
body, button, input, select, textarea {margin: 0; font: normal normal normal 14px f, sans-serif; color: rgb(0,0,0);}
@media (min-width: 320px) {body, button, input, select, textarea {font: normal normal normal 16px f, sans-serif;}}
@media (min-width: 360px) {body, button, input, select, textarea {font: normal normal normal 17px f, sans-serif;}}
@media (min-width: 600px) {body, button, input, select, textarea {font: normal normal normal 18px f, sans-serif;}}
@media (min-width: 1200px) {body, button, input, select, textarea {font: normal normal normal 21px f, sans-serif;}}
button, input, select, textarea {vertical-align: baseline; *vertical-align: middle;}
button, select {text-transform: none;}
form {margin: 0;}
[hidden] {display: none;}
span {display: inline-block; vertical-align: top; text-align: left;}
a {background-color: transparent; -webkit-text-decoration-skip: objects;}
img {border: 0; -ms-interpolation-mode: bicubic;}
#h {height: 100%; width: 100%; text-align: center; background: rgba(255,255,255,0.85);}
#h .t {width: 90%; vertical-align: middle;}
@media (min-width: 1200px) {#h .t {width: auto;}}
#h .t1 {font: 2em fh, sans-serif; padding-bottom: 0.75em; border-bottom: 2px solid rgba(0,0,0,0.25); margin-bottom: 0.33em;}
#h .t2 {padding-left: 0.05em; font-size: 1.5em;}
#h .t2 .b {display: none;}
@media (min-width: 1200px) {#h .t2 .b {display: inline-block;} #h .t2 br {display: none;}}
#h .v {margin-top: -5em; height: 5em;}
#h .v a {display: inline-block; width: 46px; height: 46px; line-height: 40px; font-size: 52px; text-align: center; text-decoration: none; font-family: fi, sans-serif; color: rgba(255,140,0,0.7); border: 2px solid rgba(255,140,0,0.7); cursor: pointer;}
#h .v a:hover {color: rgba(255,140,0,0.6); border: 2px solid rgba(255,140,0,0.6);}
#s {width: 100%; text-align: center; background: rgb(240,240,240); padding-bottom: 2em;}
#s .hr {width: 100%; height: 4em; background: rgb(240,240,240);}
#s .s {width: 100%; background: rgb(255,255,255); text-align: center; margin-bottom: 1em;}
@media (min-width: 1200px) {#s .s {width: 1200px;}}
#s .s img {display: inline-block; vertical-align: top; width: 45%; border: 2px solid rgba(0,0,0,0.05); margin: 1em 0;}
#s .s .t {width: 90%; margin: 1em 0 2em 0;}
@media (min-width: 1200px) {#s .s img {width: 20%; margin: 2em 4%;} #s .s .t {width: 70%; margin: 2em 0;}}
#s .s .t .h {font-size: 1.5em; padding-bottom: 0.75em;}
#s .s .t .bt {padding-left: 2em; margin-bottom: 0.5em;}
#s .s .t .bt .i {margin-left: -2em; margin-top: 0.25em; font-family: fi, sans-serif; color: rgba(255,140,0,0.7); width: 1em; text-align: center; margin-right: 1em;}
#c {width: 100%; background: rgb(240,240,240); text-align: center; padding-bottom: 1em;}
#c .c {width: 100%; background: rgb(255,255,255); text-align: center;}
@media (min-width: 1200px) {#c .c {width: 1200px;}}
#c .hr {width: 100%; height: 4em;}
#c .c .h {width: 100%; font-size: 1.5em; text-align: center; padding-bottom: 1em;}
#c .c .l, #c .c .r {margin: 1.5em 5%; width: 90%;}
@media (min-width: 1200px) {#c .c .l, #c .c .r {width: 40%;}}
#c .c .bt {margin-left: 4em; margin-bottom: 1.5em;}
#c .c .bt .i {margin-left: -2.75em; margin-top: 0.125em; font-family: fi, sans-serif; font-size: 1.5em; color: rgba(255,140,0,0.7); width: 1em; text-align: center; margin-right: 0.85em; cursor: default;}
#c .c .bt a {color: rgb(0,0,0); text-decoration: none; border-bottom: dotted 2px rgba(255,140,0,0.7);}
#c .c .r form, #c .c .r input, #c .c .r textarea, #c .c .r button {display: inline-block;}
#c .c .r form, #c .c .r input, #c .c .r textarea {width: 100%; box-sizing: border-box;}
#c .c .r input, #c .c .r textarea {margin-bottom: 1em; padding: 0.25em; border: 1px solid darkgray}
#c .c .r button {height: 2em; background: rgba(255,140,0,0.7); color: rgb(255,255,255); border: none; padding: 0 0.75em; cursor: pointer;}
#c .c .r button:hover {background: rgba(255,140,0,0.6);}
#gm {width: 100%; height: 80%; background: rgb(240,240,240);}
#d {width: 100%; background: rgba(240,240,240,0.95); text-align: center; padding-top: 2em; padding-bottom: 4em;}
#d .d {width: 90%; text-align: center;}
@media (min-width: 1200px) {#d .d {width: 1200px;}}
#d .d .h {width: 80%; font-size: 1.25em; padding: 2em 0 1em 0;}
#d .d .t {width: 90%; text-indent: 5%;}
#d .d img {display: inline-block; vertical-align: top; width: 40%; margin: 5%;}
@media (min-width: 1200px) {#d .d img {width: 20%; margin: 2.5%;}}
#d a {margin-top: 2em; display: inline-block; border: 2px solid rgb(193,193,193); line-height: 46px; padding: 0 1em 0.05em 0.5em; text-decoration: none; color: rgb(93,93,93);}
#d a .i {vertical-align: baseline; font-family: fi, sans-serif; text-decoration: underline; margin-right: 0.5em;}
#d a:hover {background: rgb(230,230,230);}
#w {width: 100%; background: rgb(220,220,220); text-align: center; border-bottom: 1px solid rgb(220,220,220);}
#w .w {width: 90%;}
@media (min-width: 1200px) {#w .w {width: 1200px;}}
#w .w .l, #w .w .r {width: 100%; height: 4.5em; padding-top: 0.5em; line-height: 2em; border-bottom: 2px solid rgba(220,220,220,0); font-size: 0.8em; text-align: center;}
@media (min-width: 1200px) {#w .w .l, #w .w .r {width: 50%;} #w .w .l {text-align: left;} #w .w .l br {display: none;} #w .w .r {text-align: right;}}
#w .w .l span, #w .w .r span {vertical-align: middle; text-align: center;}
#w .w .r .m {font-family: fm, sans-serif; color: rgb(0,128,255); text-decoration: none;}
#w .w .r .m:hover {border-bottom: 2px solid rgb(0,128,255);}
#t {position: absolute; top: 0; left: 0; width: 100%; padding: 31px 0 10px 0; background: rgba(255,255,255,0.75); text-align: center;}
#t.os {position: fixed; padding-top: 10px; background: rgba(255,255,255,0.95); border-bottom: 5px solid rgba(0,0,0,0.05);}
#t .t {width: 100%;}
@media (min-width: 1200px) {#t .t {width: 1200px;}}
#t .t .l {margin-left: 5%; width: 15%;}
#t .t .l a {display: inline-block; vertical-align: top; font-size: 1.5em; font-family: fh, sans-serif; padding-top: 2px; line-height: 46px; color: rgb(0,0,0); text-decoration: none; border-bottom: 2px solid rgba(255,140,0,0.6);}
#t .t .r {width: 80%; text-align: right;}
#t .t .r .s, #t .t .r .c, #t .t .r .c0 {display: inline-block; vertical-align: top; color: rgb(0,0,0); text-decoration: none; margin-right: 1em;}
#t .t .r .s, #t .t .r .c {padding-top: 2px; line-height: 46px; border-bottom: 2px solid rgba(255,255,255,0);}
#t .t .r .s:hover, #t .t .r .c:hover {border-bottom: 2px solid rgba(255,140,0,0.6);}
#t .t .r .c0 {line-height: 50px; background: rgba(255,140,0,0.7); color: rgb(255,255,255); margin-right: 10px; position: relative;}
@media (min-width: 1200px) {#t .t .r .c0 {margin-right: 0;}}
#t .t .r .c0 .i {width: 50px; text-align: center; font-family: fi, sans-serif;}
#t .t .r .c0 .t {display: none;}
@media (min-width: 1200px) {#t .t .r .c0 .t {display: inline-block; width: auto; padding-right: 0.75em;}}
#t .t .r .c0:hover {background: rgba(255,140,0,0.6);}
#t .t .r .c0 #c0 {position: absolute; top: 0; right: 0; background: rgb(255,255,255); text-align: center; box-shadow: 0 0 0 1000em rgba(128,128,128,0.5);}
#t .t .r .c0 #c0 .h {background: rgba(255,140,0,0.6); line-height: 50px; color: rgb(255,255,255); white-space: nowrap; margin-bottom: 1.5em;}
#t .t .r .c0 #c0 .h .i {margin-left: 0.5em; width: 50px; text-align: center; font-family: fi, sans-serif;}
#t .t .r .c0 #c0 .h .t {display: inline-block; width: auto; padding-right: 0.75em;}
#t .t .r .c0 #c0 .h .x {width: 34px; line-height: 34px; text-align: center; font-family: fi, sans-serif;}
#t .t .r .c0 #c0 .h .x:hover {background: rgba(128,128,128,0.5); cursor: pointer;}
#t .t .r .c0 #c0 form {width: 80%; display: inline-block;}
#t .t .r .c0 #c0 input {width: 100%; display: inline-block; vertical-align: top; padding: 0.25em; box-sizing: border-box; border: 1px solid silver}
#t .t .r .c0 #c0 button {display: inline-block; vertical-align: top; width: 100%; height: 2em; background: rgba(255,140,0,0.7); color: rgb(255,255,255); border: none; margin-bottom: 1.5em; cursor: pointer;}
#t .t .r .c0 #c0 button:hover {background: rgba(255,140,0,0.6);}
#t .t .r .c0 #c0 #sent {width: 80%; color: rgba(255,140,0,0.7); text-align: center;}
#t .t .r .c0 #c0 #sent .x {width: 100%; line-height: 1.5em; color: rgba(0,0,0,0.5); text-align: right; cursor: pointer;}
#t .t .r .c0 #c0 #sent .x span {margin-left: 0.5em; font: 1.5em fi, sans-serif;}
.vm {width: 0; height: 100%; vertical-align: middle;}
